# Dependencies
node_modules/
.pnpm-store/

# Builds
dist/
build/
.next/
out/
.turbo/

# Env
.env
.env.local
.env.*.local

# Expo
.expo/
.expo-shared/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Native
android/
ios/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testes / coverage
coverage/
.nyc_output/

# SO / editores
.DS_Store
Thumbs.db
.idea/
.vscode/

# Prisma
apps/api/prisma/dev.db